/* general css */
html{
     
}
button{
   
   background-color: hsl(0, 0%, 8%);
   color: hsl(0, 0%, 100%);
font-family: 'Big Shoulders Display', cursive;
font-size: xx-large;
position: relative; left: 250px;
padding: 20px;


}
button:hover{
    background-color: rgb(213, 150, 108);
}

.arrow{
    border:solid black;
    
}

.arrow:hover{
    background-color: hsl(0, 0%, 8%);
}
h1{


}
h2{

}

/* the intro */

.black-div{ background-color: hsl(0, 0%, 8%);
    height:10vh;
    width: 30vw;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  

}
.background-image{ background-image: url(./images/desktop/image-hero@2x.jpg);
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;

}
/* grid pictures  */
.gallery-body{

}
.grid-1{

}
.grid-2{

}
.grid-3{

}
.gridbox{

}
/* footer elements */
.h1-footer{

}
.p-footer{

}
.icons{

}
/* location  */
.location-map{
    height: 72vh;
    width: 100vw;
    display: flex;
    border: solid black;
    background-image: url(./images/desktop/image-map@2x.png);
    background-size: contain;
}
.location-section{
    height: 62vh;
    width: 100vw;
    background-color: hsl(0, 0%, 8%); 
    display: flex;
}
.location-body{
    color: hsl(0, 0%, 100%);
    width: 30%;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 60px;
    font-weight: bolder;
    padding-left: 150px;
    line-height: 90px;
    margin-right: 200px;
}

#street{
    color: rgb(213, 150, 108);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 45px;
    margin-top: 75px;
    margin-left: 100px;
    
}
.paddress{
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    line-height: 30px;
    margin-right: 300px;
    margin-top: -10px;
    margin-left: 100px;
    
}

footer{
    background-color: rgb(213, 150, 108);
    display: flex;
    width: 100vw;
    max-height: 100vh;

}

.fheading{ text-transform: uppercase;
    font-size: 20px;
    line-height: 10px;
    font-weight: bolder;
    padding-left: 160px;
    padding-top: 80px;
    font-family: 'Big Shoulders Display', cursive;
      
    
}
.fparagrah{ align-items: center;
    padding-left: 140px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Outfit', sans-serif;
    margin-right: 120px;
    
}
i{
    padding-left: 30px;
    padding-top: 30px;
    font-size: x-large;
   justify-content: center;
   position: relative; left: 200px; top: 70px;
   
}

/* font-family: 'Big Shoulders Display',cursive;
font-family: 'Outfit',sans-serif; */