/* Mobile device first */
.desktop {
    display: none;
}

.tablet {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    min-width: 375px;
    max-width: 500px;
    min-height: 100vh;
}
.desktop-hero-img, 
.tablet-hero-img{
    display: none;
}
/* index page */
header img{
    width: 100%;
    
}
header {
    color: hsl(0, 0%, 8%);
}

header h1 {
    margin: 2% 3%;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Big Shoulders Display',cursive;

}
header p {
    margin: 0 3%;
    font-size: 1.125em;
    font-weight: lighter;
    line-height: 1.6em;
    color: rgb(68, 68, 68);
    font-family: 'Outfit', sans-serif;
}

.home-button{
    display: flex;
    height: 72px;
    margin: 6% 3%;
    width: 280px;
    align-items: center;
    background-color: rgb(21, 21, 21);
    text-align: center;
    cursor: pointer;
    
    
}

.home-button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-left: 15%;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.home-button:after {
    content: url(./images/fontawesome/icon-arrow-right.svg);
    position: relative;
    left: 9%;
    line-height: 5rem;
    width: 56px;
    height: 72px;
    background-color: rgb(213, 150, 108);
}

.home-button:hover {
    background-color: rgb(213, 150, 108);
}

.home-button:hover::after {
    background-color: rgb(21, 21, 21);
}

.gallery-body {
    margin: 15% 3%;
}

.grid-img1 img {
    width: 100%;
}
.gallery-body h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    font-size: 3em;
    margin-top: 5%;

}
.gallery-body p{
    font-family: 'Outfit', sans-serif;
    font-size: 1.2em;
    word-spacing: 0.2em;
    font-weight: 200;
    line-height: 1.5em;
    padding-right: 5%;
}
.grid-img2 img {
    margin-top: 3%;
    width: 100%;
}

.grid-img3 img {
    margin-top: 3%;
    width: 100%;
}
.gridbox{
    background-color: hsl(0, 0%, 8%);
    margin-top: 3%;
}
.gridbox-title{
    padding: 8%;
}
.gridbox-title h2{
    color: hsl(0, 0%, 100%);
    font-family: 'Big Shoulders Display', cursive;
    
}
.gridbox-title p{
    color: hsl(0, 0%, 100%);
}


/* footer */
.home-footer {
    background-color: hsl(0, 0%, 8%);
    padding: 1em 2em;
    color: hsl(0, 0%, 100%);
}

.home-footer h3 {
    padding-bottom: 1.5em;
    font-weight: 900;
}

.home-footer p {
    padding-bottom: 1.5em;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    line-height: 1em;
}

.home-icons img {
    padding: 0.5em;

}

/* location page */

.location-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    top: 0;
    width: 270px;
    height: 70px;
    background-color: rgb(21, 21, 21);
    cursor: pointer;
    z-index: 1;
}

.location-button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 0.25em;
    margin-left: 20%;
}

.location-button:after {
    position: absolute;
    text-align: center;
    line-height: 5rem;
    right: 220px;
    content: url(./images/fontawesome/icon-arrow-left.svg);
    width: 56px;
    height: 72px;
    background-color: rgb(213, 150, 108);
}

.location-button:hover {
    background-color: rgb(213, 150, 108);
}

.location-button:hover::after {
    background-color: rgb(21, 21, 21)
}
.location-map{
    background-color: hsl(0, 0%, 8%);
    padding-bottom: 1em;
}
.location-map img{
    width: 100%;
    justify-content: center;
    
}
.location-section{
    background-color: hsl(0, 0%, 8%);
    padding: 1em 2em;
  
   
}
.location-title{
    color: hsl(0, 0%, 100%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    font-size: 36px;
   

}
.location-address h2{
    color: rgb(213, 150, 108);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 26px;
    
  
}
.location-address p{
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    padding: 0.5em;
    font-weight: 200;
    
}
/* location footer */
.location-footer{
    background-color: rgb(213, 150, 108);
    padding: 1em 2em;
}
.location-footer h3{
    padding-bottom: 1.5em;
    font-weight: 900;
}
.location-footer p{
    padding-bottom: 1.5em;
    font-family: 'Outfit', sans-serif; 
    font-weight: 200;
}
.icons img{
    padding: 0.5em;
   
}


/* font-family: 'Big Shoulders Display',cursive;
font-family: 'Outfit',sans-serif; */