/* Mobile device first */


* {
    margin: 0;
    padding: 0;
    
}

body {
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    min-width: 375px;
    max-width: 500px;
    min-height: 100vh;

}
.index-body{
    justify-content: center;
    flex-direction: column;
    line-height: 1;
    min-width: 375px;
    max-width: 500px;
    min-height: 100vh;
}


.desktop-hero-img, 
.tablet-hero-img{
    display: none;
}
/* index page */
.index-header img{
    width: 100%;
    
}
.index-header {
    color: hsl(0, 0%, 8%);
}

.index-header h1 {
    margin: 2% 3%;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Big Shoulders Display',cursive;

}
.index-header p {
    margin: 0 3%;
    font-size: 1.125em;
    font-weight: lighter;
    line-height: 1.6em;
    color: rgb(68, 68, 68);
    font-family: 'Outfit', sans-serif;
}

.home-button{
    display: flex;
    height: 72px;
    margin: 6% 3%;
    width: 280px;
    align-items: center;
    background-color: rgb(21, 21, 21);
    text-align: center;
    cursor: pointer;
    
    
}

.home-button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-left: 15%;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.home-button:after {
    content: url(./images/fontawesome/icon-arrow-right.svg);
    position: relative;
    left: 9%;
    line-height: 5rem;
    width: 56px;
    height: 72px;
    background-color: rgb(213, 150, 108);
}

.home-button:hover {
    background-color: rgb(213, 150, 108);
}

.home-button:hover::after {
    background-color: rgb(21, 21, 21);
}

.gallery-body {
    margin: 15% 3%;
}

.desktop-grid-img1,
.tablet-grid-img1,
.desktop-grid-img2,
.tablet-grid-img2,
.desktop-grid-img3,
.tablet-grid-img3{
    display: none;
}

.mobile-grid-img1 img {
    width: 100%;
}
.gallery-body h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    font-size: 3em;
    margin-top: 5%;

}
.gallery-body p{
    font-family: 'Outfit', sans-serif;
    font-size: 1.2em;
    word-spacing: 0.2em;
    font-weight: 200;
    line-height: 1.5em;
    padding-right: 5%;
}
.mobile-grid-img2 img {
    margin-top: 3%;
    width: 100%;
}

.mobile-grid-img3 img {
    margin-top: 3%;
    width: 100%;
}
.gridbox{
    background-color: hsl(0, 0%, 8%);
    margin-top: 3%;
}
.gridbox-title{
    padding: 8%;
}
.gridbox-title h2{
    color: hsl(0, 0%, 100%);
    font-family: 'Big Shoulders Display', cursive;
    
}
.gridbox-title p{
    color: hsl(0, 0%, 100%);
}


/* footer */
.home-footer {
    background-color: hsl(0, 0%, 8%);
    padding: 1em 2em;
    color: hsl(0, 0%, 100%);
}

.home-footer h3 {
    padding-bottom: 1.5em;
    font-weight: 900;
}

.home-footer p {
    padding-bottom: 1.5em;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    line-height: 2em;
}

.home-icons img {
    padding: 0.5em;

}

@media screen and (min-width:500px) {
    .index-body {
        margin: 0 auto;
    }

}

@media screen and (min-width: 768px) {
    .mobile-hero-img,
    .mobile-grid-img1,
    .mobile-grid-img2,
    .mobile-grid-img3{
        display: none;
    }
    .index-body{
        margin: 0;
        min-width: 768px;
        max-width: 920px;
    }
    .index-header{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(5, 1fr);
        gap:0;
    }
    .tablet-hero-img{
        display: block;
        width: 437px;
        height: 700px;
        grid-column: 1/4;
        grid-row: 1/6;

    }
    .index-header img{
        width: 100%;
    }
    .index-header h1{
        font-weight: 800;
        grid-column: 3/4;
        grid-row: 2/4;
        font-size: 5.5em;
    }
    .index-header p{
        width: 20em;
        grid-column: 3/4;
        grid-row: 4;
    }
    .home-button{
        grid-column: 3/4;
        grid-row: 5/7;
        width: 260px;
    }
    .gallery-body{
        display: grid;
        margin: 10% 6%;
        gap: .5rem;
        grid-template-columns: 1fr 18% 1fr;
        grid-template-rows: auto auto 1fr;
    }
    .gallery-article{
        grid-column: 1;
        grid-row: 1/2;
    }
    .gallery-article h2{
        font-size: 4.5em;
    }
    .tablet-grid-img1{
        display: block;
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .tablet-grid-img1 img{
        width: 100%;
    }
    .tablet-grid-img2{
        display: block;
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .tablet-grid-img2 img{
        width: 100%;
    }
    .tablet-grid-img3{
        display: block;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .tablet-grid-img3 img{
        width: 100%;
    }
    .gridbox{
        grid-column: 3/4;
        grid-row: 3;
        margin: 0;
        width: 100%;
    }
    .home-footer{
        margin:5% 6% 10% 6%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .home-footer p{
        width: 40%;
        margin: 0;
    }
    .home-icons{
        margin: 0;
        width: 15%;
    }
}


@media screen and (min-width: 960px) and (max-width: 1200px) {

    .index-body {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px){
    .tablet-hero-img{
        display: none;
    }
    .tablet-grid-img1{
        display: none;
    }
    .tablet-grid-img2{
        display: none;
    }
    .tablet-grid-img3{
        display: none;
    }
    .index-body{
        min-width: 1200px;
        max-width: 1500px;
        margin: 0 auto;
    }
    .index-header{
        display: grid;
        grid-template-columns: 15% 15% 15% 18% 15% 15% 15% 15%;
        grid-template-rows: repeat(3, 25% );
        gap: 0;
    }
    .black-div{
        display: block;
        width: 450px;
        height:800px;
        background-color: hsl(0, 0%, 8%);
        grid-column: 1/3;
        grid-row: 1/5;
    }
    .desktop-hero-img{
        display: block;
        width: 540px;
        height: 800px;
        grid-column: 3/6;
        grid-row: 1/5;

    }
    .index-header img{
        width: 100%;

    }
    .index-header h1{
        font-size: 6em;
        font-weight: 800;
        grid-column: 2/4;
        grid-row: 2/4;
        color: hsl(0, 0%, 100%);
        mix-blend-mode: difference;
        margin: 0; 
    }
    .home-button{
        grid-column: 5;
        grid-row: 3;
        width: 260px;  
    }
    .gallery-body{
        margin: 10% 12%;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 15% 1fr;
        grid-template-rows: auto auto 1fr;

    }
    .gallery-article{
        grid-column: 1;
        grid-row: 1/2;

    }
    .gallery-article h2{
        font-size: 5.5em;
    }
    .desktop-grid-img1{
        display: block;
        grid-column: 2/4;
        grid-row: 1/2;

    }
    .desktop-grid-img1 img{
        width: 100%
    }
    .desktop-grid-img2{
        display: block;
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .desktop-grid-img2{
        width: 100%;
    }
    .desktop-grid-img3{
        display: block;
        grid-column: 3/4;
        grid-row: 2;
    }
    .desktop-grid-img3 img{
        width: 100%;
    }
    .gridbox{
        grid-column: 3/4;
        grid-row: 3/4;
        width: 100%;

    }
    .gridbox-title{
        padding: 10%;
    }

    .index-footer{
        margin-top: 2%;
    }
    .home-footer{
        margin: 5% 10% 5% 10%;
    }
}



/* location page */
.desktop,
.tablet{
    display: none;
}
.location-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    top: 0;
    width: 270px;
    height: 70px;
    background-color: rgb(21, 21, 21);
    cursor: pointer;
    z-index: 1;
}

.location-button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 0.25em;
    margin-left: 20%;
}

.location-button:after {
    position: absolute;
    text-align: center;
    line-height: 5rem;
    right: 220px;
    content: url(./images/fontawesome/icon-arrow-left.svg);
    width: 56px;
    height: 72px;
    background-color: rgb(213, 150, 108);
}

.location-button:hover {
    background-color: rgb(213, 150, 108);
}

.location-button:hover::after {
    background-color: rgb(21, 21, 21)
}


.location-map img{
    width: 100%;
    justify-content: center;
    
}

.location-title{
    color: hsl(0, 0%, 100%);
    font-family: 'Big Shoulders Display', cursive;
    background-color: hsl(0, 0%, 8%);
    padding: 1em 2em;

}
.location-title h1{
    padding-bottom: 1em;
    font-size: 46px;
}
.location-address h2{
    color: rgb(213, 150, 108);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 26px;
    
  
}
.location-address p{
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    padding: 0.5em;
    font-weight: 200;
    line-height: 2em ;
    
}
/* location footer */
.location-footer{
    background-color: rgb(213, 150, 108);
    padding: 1em 2em;
}
.location-footer h3{
    padding-bottom: 1.5em;
    font-weight: 900;
    
}
.location-footer p{
    padding-bottom: 1.5em;
    font-family: 'Outfit', sans-serif; 
    font-weight: 200;
    line-height: 2em;
}
.icons img{
    padding: 0.5em;
   
}
@media screen and (min-width:500px) {
    body{
        margin: 0 auto;
    }
    
}
@media screen and (min-width: 768px){
    .mobile{
        display: none;
    }
    .tablet{
        display: block;
        
    }
    .tablet img{
        width: 100%;
       
    }
   
    body{
        min-width: 768px;
        max-width: 920px;
    }
    .location-title{
        display: inline-flex;
        padding: 10% 10%;
    }
    .location-title h1{
        padding-right: 10%;
        font-size: 3em;
    }
    .location-title h2{
        font-size: 1.5em;
        
    }
    .location-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 7%;
        padding-top: 5%;
       
    }
    .location-footer p{
        margin: 0;
        width: 50%;
    }
    .icons{
        margin: 0;
        width: 15%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1200px){
    body{
        margin: 0 auto;
    }
    
}
@media screen and (min-width:1200px){
    .tablet,
    .mobile{ 
        display: none
    }
    .desktop{
        display: block;
    }
    .desktop img{
        width: 100%;
    }

   body{ min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;   
   } 
   .location-button{
       left: 10%
   }
   .location-title{
       display: inline-flex;
       padding: 8% 10% 10% 10%;
   }
   .location-title h1{
       font-size: 1em;
   }
   .location-title h2{
       font-size: 2em;
   }
   /* .icons{
       margin: 5% 10% 5% 10%;
   } */
}

/* font-family: 'Big Shoulders Display',cursive;
font-family: 'Outfit',sans-serif; */